<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar administrador</title>

    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/Css/nova-tarefa.css" />
    <link rel="stylesheet" href="~/Content/Css/barra-navegacao.css" />
    <link rel="stylesheet" href="~/Content/Css/footer.css" />
</head>

<body>

    <nav>
        <div id="all-links-navbar" style="display: inline-flex;min-width: 360px;">

            <a href="/Administrador/Logout" class="link-navbar" id="nav-logout">Logout</a>

            <div class="dropdown">
                <a class="dropdown-toggle link-navbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   style="color:#a9a9a9">
                    Tarefas
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Tarefa/Index">Buscar</a>
                    <a class="dropdown-item" href="/Tarefa/Form">Cadastrar</a>
                    <a class="dropdown-item" href="/Tarefa/Listar">Listar</a>
                </div>
            </div>

            <div class="dropdown">
                <a class="dropdown-toggle link-navbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   style="color:#a9a9a9">
                    Alunos
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Aluno/FormNovoAluno">Cadastrar</a>
                    <a class="dropdown-item" href="/Aluno/Listar">Listar</a>
                </div>
            </div>

            <a href="/Administrador/Form" class="link-navbar" id="nav-logout">Cadastrar administrador</a>
        </div>

        <div id="div-nav-username">
            <label id="usuario-nome-navbar" class="info-navbar">Olá @ViewBag.Username.</label>
        </div>

        <label id="data-navbar" class="info-navbar">@ViewBag.DataHoje</label>
    </nav>

    <div class="container">
        <form action="/Administrador/Cadastrar" method="POST">
            @Html.AntiForgeryToken()
            <div class="box-detalhe" style="height: 580px;">
                <h2>Cadastrar-se</h2>
                <div class="form-group">
                    <label>Login</label>
                    <input class="form-control" type="text" name="login" required/>
                    <span style="color:red;">@Html.ValidationMessage("erro-login")</span>
                </div>
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control" type="text" name="nome" required/>
                </div>
                <div class="form-group">
                    <label>Palavra de backup</label>
                    <input class="form-control" type="text" name="palavraBackup" placeholder="Palavra para recuperar a senha." required/>
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" required/>
                </div>
                <div class="form-group">
                    <label>Repetir senha</label>
                    <input class="form-control" type="password" name="senha2" id="senha2" required/>
                    <span id="msg"></span>
                </div>
                <button id="btn" class="btn btn-success btn-block" type="submit">Cadastrar</button>
            </div>
        </form>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        $('#senha, #senha2').on('keyup', function () {
            if ($('#senha').val() == $('#senha2').val()) {
                $('#msg').html('As senhas combinam.').css('color', '#26e426');
                $('#btn').prop('disabled', false);
            } else {
                $('#msg').html('As senhas não combinam.').css('color', 'red');
                $('#btn').prop('disabled', true);
            }
        });
    </script>

    <footer>
        <span>&copy; Copyright 2018 - Anderson Marques.</span>
    </footer>

</body>

</html>