.table, .div-info {
    background-color: #55595c;
    color: white;
    border-radius: 3px;
}

.div-info button {
    margin-left: auto;
}

.div-info {
    margin-bottom: 5px;
    padding: 5px;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

.div-info label {
    margin-top: 7px;
    margin-left: 10px;
}
